<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDO</title>
</head>
<body>
     <form action="/submit" method="POST">
    <div id="myDIV" class="header">
        <h2 style="margin:5px">My To Do List</h2>
        <input type="text" id="myInput" placeholder="Title..." name="testing">
          <input type="submit" value="Generate Name">

          <%  if(locals.Add){%>
            <ul>
               <% for(var i=0;i<Add.length;i++){%>
               
                  <li><%=Add[i]%></li>
               
              <%    console.log(Add[i]);%>
              
                <%}%>
              </ul>
            <%}else{%>
                <h1> Please add something for productive day! </h1>
             <%}%> 
       
      </div>
    </form>
</body>
</html>